/* DashboardCard.css */
.dashboard-card-div {
  width: 300px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #fff;
  border: 1px solid #ddd;
}

.dashboard-card-div:hover {
  transform: scale(1.05);
}

.dashboard-name-div {
  margin-bottom: 15px;
}

.dashboard-name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.dashboard-description {
  font-size: 14px;
  margin-bottom: 15px;
  color: #666;
}

.dashboard-details {
  font-size: 12px;
  color: #888;
}

/* Container untuk Galeri */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media (max-width: 1200px) {
  .dashboard-card-div {
    flex: 1 1 40%;
  }
}

@media (max-width: 768px) {
  .dashboard-card-div {
    flex: 1 1 100%;
  }

  .dashboard-name {
    font-size: 16px;
  }

  .dashboard-description {
    font-size: 14px;
  }

  .dashboard-details {
    flex-direction: column;
  }

  .dashboard-creation-date {
    font-size: 14px;
  }
}
